.prism-hidden {
  display: none;
}

toggle-show {
  display: block;

  > .show-code {
    display: block;
    text-align: right;
    margin: .5em 0;

    &.prism-hidden {
      display: none;
    }
  }
}
