toggle-show {
  display: block;

  > .show-code {
    display: block;
    text-align: right;
    margin: .5em 0;

    &.prism-hidden {
      /*display: none;*/
    }
  }

  > .code-toolbar {
    &.prism-hidden {
      display: none;
    }
  }
}

.prism-toggleable-code {
  height: 0;
  transition: height .3s;
  overflow: hidden;
  margin: .5em 0;

  pre[class*="language-"] {
    margin: 0;
  }
}

