body, html {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

h2 {
	color: cornflowerblue;
	cursor: pointer;
}

h2:hover, h2:focus {
	background-color: beige;
}

section {
	display: none;
}
